# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:

weather_data_df = pd.read_csv('weather_data.csv')

In [3]:
weather_data_df.head(1)

,City Id,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,3628473,San Cristobal,7.7669,-72.225,300.25,47,26,3.05,1653079425

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [ ]:
gmaps.configure(api_key=g_key)

In [5]:
locations = weather_data_df[['Lat', 'Lon']].astype(float)
humidity = weather_data_df['Humidity'].astype(float)

In [6]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=100, point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
vacay_df = weather_data_df.copy()

In [9]:
vacay_df.dropna()

,City Id,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,3628473,San Cristobal,7.7669,-72.2250,300.25,47,26,3.05,1653079425
1,3652764,Puerto Ayora,-0.7393,-90.3518,300.13,91,53,0.89,1653079425
2,2181625,Te Anau,-45.4167,167.7167,278.98,88,100,2.26,1653079426
3,3424607,Tasiilaq,65.6145,-37.6368,276.24,73,17,2.27,1653079282
4,162627,Yabrūd,33.9674,36.6574,289.31,36,0,2.87,1653079426
...,...,...,...,...,...,...,...,...,...
574,2269142,Colares,38.7992,-9.4469,299.97,54,0,6.17,1653079913
575,797213,Pervomayskoye,43.9190,46.7102,285.46,75,89,7.77,1653080167
576,3386177,Trairi,-3.2778,-39.2689,298.58,87,96,2.32,1653080009
577,3687972,Calamar,10.2511,-74.9146,302.61,72,100,3.77,1653080168
578,5134295,Rome,43.2128,-75.4557,300.58,52,98,3.13,1653080168

In [10]:
for index, row in vacay_df.iterrows():
    tempK = row['Max Temp']
    tempF = (tempK - 273.15) * (9/5) +32
    windSpeed = row['Wind Speed']
    if (70 <= tempF <= 95) and windSpeed < 10:
        pass
    else:
        vacay_df.drop(index = index, inplace=True)

In [16]:
vacay_df

,City Id,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,3628473,San Cristobal,7.7669,-72.2250,300.25,47,26,3.05,1653079425
1,3652764,Puerto Ayora,-0.7393,-90.3518,300.13,91,53,0.89,1653079425
9,2110227,Butaritari,3.0707,172.7902,300.67,71,14,7.96,1653079428
10,5404476,Ukiah,39.1502,-123.2078,299.91,18,0,1.54,1653079428
11,1632694,Pangkalanbuun,-2.6833,111.6167,296.35,98,100,0.48,1653079429
...,...,...,...,...,...,...,...,...,...
572,3587498,Acajutla,13.5928,-89.8275,302.16,66,81,2.93,1653080167
574,2269142,Colares,38.7992,-9.4469,299.97,54,0,6.17,1653079913
576,3386177,Trairi,-3.2778,-39.2689,298.58,87,96,2.32,1653080009
577,3687972,Calamar,10.2511,-74.9146,302.61,72,100,3.77,1653080168
578,5134295,Rome,43.2128,-75.4557,300.58,52,98,3.13,1653080168

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [17]:
hotel_df = vacay_df.copy()

In [19]:
hotel_df["Hotel Name"] = ""

In [ ]:
for index,row in hotel_df.iterrows:
    params = {
    "location": row['Lat'],
    "keyword": "hotel",
    "radius": 5000,
    "type": target_type,
    "key": g_key
}

In [20]:
hotel_df

,City Id,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Hotel Name
0,3628473,San Cristobal,7.7669,-72.2250,300.25,47,26,3.05,1653079425,
1,3652764,Puerto Ayora,-0.7393,-90.3518,300.13,91,53,0.89,1653079425,
9,2110227,Butaritari,3.0707,172.7902,300.67,71,14,7.96,1653079428,
10,5404476,Ukiah,39.1502,-123.2078,299.91,18,0,1.54,1653079428,
11,1632694,Pangkalanbuun,-2.6833,111.6167,296.35,98,100,0.48,1653079429,
...,...,...,...,...,...,...,...,...,...,...
572,3587498,Acajutla,13.5928,-89.8275,302.16,66,81,2.93,1653080167,
574,2269142,Colares,38.7992,-9.4469,299.97,54,0,6.17,1653079913,
576,3386177,Trairi,-3.2778,-39.2689,298.58,87,96,2.32,1653080009,
577,3687972,Calamar,10.2511,-74.9146,302.61,72,100,3.77,1653080168,
578,5134295,Rome,43.2128,-75.4557,300.58,52,98,3.13,1653080168,

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure